
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html,body{
    width: 100%;
    min-height: 100%;
}

#root{
    width: 100%;
    height: auto;
    min-height: 100vh;
   /*  position: relative; */
}
/* ANT-TAILWIND BUTTON BUG */
.prmAntB .ant-btn-primary{
  background-color: #243763;
}



/* AUTH LABELS---------------------------*/
.auth-label-placeholder{
  color:gray;
  top:38px;
  z-index: 1;
  cursor:text;
  transition: all 0.5s ease;

}
.auth-label-transition{
  color: #243763;
  top:12px;
  font-size: 15px;
  transition: all 0.5s ease;
}
.error-auth-label{
  color: rgb(220 38 38);
}
/* ---------------------------------- */

.addUser-Svg:hover path{
  fill: rgba(36, 55, 99,0.7);
}


/* ANT TABLE STYLES */
.ant-table-thead .ant-table-cell{
  background-color: rgb(239, 246, 255) !important;
  color:#243763 !important;
}
/* .ant-table-tbody, .ant-table-thead{
  font-size: 14px ;
} */
/* ------------------------------- */


